.white-background{
    -fx-background-color: #C4CBC0;
}

.selected{
    -fx-background-color:  #F1F1F1;
}

.mouse-moved:hover{
    -fx-background-color: #C4CBC0;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.scroll-pane {
    -fx-background-color: transparent;
}